body{   
    background-color: white;
}  
#frm{  
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px; 
    text-align: center; 
    background-color: #8F4B4F;
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    width: 80px;
    
}  